<section fxLayout='row'>
<div fxFlex='70'>
<mat-card >
  <div fxLayout='row' fxLayout.xs='column'>
    <article fxFlex='40'>
      <h1 [ngStyle.xs]='title'>ARME</h1>
      <h6 [ngStyle.xs]='title'>dernière mise à jour le {{weapon?.updateDate | date: 'dd/MM/yyyy'}}</h6>
      <p>Type : {{weapon?.type}}</p>
      <p>Modèle : {{weapon?.modele}}</p>
      <p>Date de création : {{weapon?.createDate | date: 'dd/MM/yyyy'}}</p>   
    </article>
    <mat-card fxFlex='60'>PHOTO</mat-card>
  </div>
  <h3 [ngStyle.xs]='title'>Affaire associées</h3>
  <app-table-weapon></app-table-weapon>
</mat-card>
<div  fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="accent" routerLink="edit">Editer</button>
  <button mat-raised-button color="accent" (click)="delete()">Supprimer</button>
  <button mat-raised-button color="accent" (click)="backToList()">Retour</button>
</div>
</div>
<mat-card fxFlex='30'>
  <router-outlet></router-outlet>
</mat-card>
</section>