<router-outlet></router-outlet>
<mat-table #table [dataSource]="dataSource" matSort>

  <!-- Id Column -->
  <ng-container matColumnDef='id'>
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
    <mat-cell *matCellDef='let v'> {{v.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="marque">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Marque </mat-header-cell>
    <mat-cell *matCellDef="let v"> {{v.marque}} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="model">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Modèle </mat-header-cell>
    <mat-cell *matCellDef="let v"> {{v.model}} </mat-cell>
  </ng-container>

  <!-- Couleur Column -->
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Couleur </mat-header-cell>
    <mat-cell *matCellDef="let p"> {{p.color}} </mat-cell>
  </ng-container>

  <!-- Immatriculation Column -->
  <ng-container matColumnDef="license">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Immatriculation </mat-header-cell>
    <mat-cell *matCellDef="let p"> {{p.licensePlate}} </mat-cell>
  </ng-container>

  <!-- Editer Column -->
  <ng-container matColumnDef="editer">
    <mat-header-cell *matHeaderCellDef>Editer </mat-header-cell>
    <mat-cell *matCellDef="let affaire" href="" [routerLink]="['/affaires',affaire.id]">
      <button mat-icon-button>
        <mat-icon aria-label="icon-button with a create icon">create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Editer Column -->
  <ng-container matColumnDef="ajouter">
    <mat-header-cell *matHeaderCellDef>Ajouter </mat-header-cell>
    <mat-cell *matCellDef="let vehicule">
      <button mat-icon-button>
        <mat-icon aria-label="icon-button with a create icon">add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Supprimer Column -->
  <ng-container matColumnDef="supprimer">
    <mat-header-cell *matHeaderCellDef>Supprimer</mat-header-cell>
    <mat-cell *matCellDef="let vehicule">
      <button mat-icon-button (click)="openDeleteDialog(vehicule.id)">
        <mat-icon aria-label="icon-button with a delete icon">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>